## Create a DB

In [ ]:
SHOW DATABASES;

In [ ]:
# create a db
CREATE DATABASE name_table;

In [ ]:
USE name_table;

## Create Tables

In [ ]:
# create 3 tables

CREATE TABLE products(
 id INT AUTO_INCREMENT PRIMARY KEY,
 name VARCHAR (30),
 price DECIMAL(3,2)
 ):

In [ ]:
SHOW DATABASES;

## Modificate tables

In [ ]:
SELECET * from producs; # retirve all the data in the table

In [ ]:
# add a coffe column
ALTER TABLE table_name
ADD COLUMN col_name data_type(len);

In [ ]:
# remove colum from tables
ALTER TABLE table_name
DROP COLUMN col_name;

## Delete  tables

In [ ]:
DROP TABLE table_name;

## Delete All Data From a Table

In [ ]:
# delete all rows from a table, it doesnt delete the table only the rows
TRUNCATE TABLE table_name;