## Where Clause

In [ ]:
SELECT * FROM table
WHERE col_name = 'string';

SELECT * FROM table
WHERE col_name = 5;

SELECT * FROM table
WHERE col_name = 5 and col_name = 9; 

SELECT * FROM table
WHERE col_name = 'string' or col_name = 'string'; 

SELECT * FROM table
WHERE col_name = 5 or col_name = 'string';

## Inequality Symbols

In [ ]:
> # greater than
>= # greater than or equal to
< # less
<= # less than or equal to

## Null Values

In [ ]:
SELECT * FROM table
WHERE col_name IS NULL; # returns null values

SELECT * FROM table
WHERE col_name IS NOT NULL; # != null values

## In, Not In

In [ ]:
SELECT * FROM table
WHERE col_name IN('string', 'string'); # two or more values

SELECT * FROM table
WHERE col_name IN(1, 2);

WHERE col_name NOT IN(1, 2); # != [1,2]

## Between (range)

In [ ]:
SELECT * FROM table
WHERE col_name BETWEEN low AND hight; 

SELECT * FROM table
WHERE col_name BETWEEN '2020-10-08'AND '2020-11-08';


SELECT * FROM table
WHERE col_name BETWEEN 5 AND 55;

## Like

In [ ]:
SELECT * FROM table
WHERE col_name LIKE 'W%'; # start by W


SELECT * FROM table
WHERE col_name LIKE '%C'; # end by C


SELECT * FROM table
WHERE col_name LIKE '%C%'; # contain C

## ORDER BY

In [ ]:
SELECT * FROM table
ORDER BY col_name ASC;

# by default is DESC

## Unique values

In [ ]:
SELECT DISTINCT(col_name) FROM table # remove duplicates


SELECT DISTINCT(col_name) FROM table
WHERE col_name BETWEEN x AND y

## Limit

In [ ]:
SELECT col_name FROM table 
LIMIT(5)# return 5 rows

SELECT col_name FROM table 

LIMIT(5)# return 5 rows