## Create df

In [ ]:
CREATE DATABASE df_name;
USE df_name;

## Create a table

In [ ]:
CREATE TABLE name_table(
 id INT,
 house_number INT,
 city VARCHAR (20),
 postcode);

## Create a table

In [ ]:
CREATE TABLE people(
id INT,
 first_name VARCHAR(20),
 last_name VARCHAR (20)
 address_id INT;

## Create a table

In [ ]:
CREATE TABLE pets(
 ID INT,
 name VARCHAR (20),
 specices VARCHAR(20),
 owner_id INT;

In [ ]:
SHOW TABLES;

## Add primary Keys

In [3]:
ALTER TABLE table_name
ADD PRIMARY KEY col_name

## Remove primary Keys

In [ ]:
ALTER TABLE table_name
DROP PRIMARY KEY;

In [ ]:
DESCRIBE table_name; # show all

## Add foreing Key to a table

In [ ]:
ALTER TABLE table_name
ADD CONSTRAINT constrat_name
FOREING KEY col_name REFERENCES table_name;

# Remove foreing key from a table

In [ ]:
ALTER TABLE table_name
DROP FOREING KEY constraint_name;

In [ ]:
DESCRIBE table_name; # show all

## Add unique constraint to a column

In [ ]:
ALTER TABLE table_name
ADD CONSTRAINT constrain_name UNIQUE col_name;

## Remove unique constraint to a column

In [ ]:
ALTER TABLE table_name
DROP INDEX constrain_name;

## Change the name of a column

In [ ]:
ALTER TABLE table_name
CHANGE  `old_col_name` `new_col_name` data_type;

## Change column data type

In [ ]:
ALTER TABLE table_name MODIFICATE col_name data_type;